<h1>Editar Atributo</h1>

<%= render 'form' %>

<button type="button" class="btn btn-primary btn-sm"><%= link_to 'Ver', @comment %></button> |
<button type="button" class="btn btn-primary btn-sm"><%= link_to 'Voltar', comments_path %></button>
